@model eShopSolution.ViewModels.Catalog.Products.ProductViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div class="container-fluid">
    <h1 class="mt-4">Chi tiết</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Stock)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Stock)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Details)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Details)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LanguageId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LanguageId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ThumbnailImage)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ThumbnailImage)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
