@model eShopSolution.ViewModels.Common.PagedResultBase
@{
    // Đọc query string trong url xem pageIndex là bao nhiêu
    var urlTemplate = Url.Action() + "?pageIndex={0}";
    var request = ViewContext.HttpContext.Request;

    // Lặp qua tất cả các key của query string
    foreach (var key in request.Query.Keys)
    {
        if (key == "pageIndex")
        {
            // Nếu là pageIndex thì tiếp tục
            continue;
        }

        // nếu không phải page, nghĩa là có chứa các câu query khác thì sẽ cộng các chuỗi vào
        if (request.Query[key].Count > 1)
        {
            foreach (var item in (string[])request.Query[key])
            {
                urlTemplate += "&" + key + "=" + item;
            }
        }
        else
        {
            urlTemplate += "&" + key + "=" + request.Query[key];
        }
    }

    // Tính vị trí bắt đầu và vị trí kết thúc, dù số trang có > 5 thì cũng chỉ hiển thị 5
    var startIndex = Math.Max(Model.PageIndex - 5, 1);
    var finishIndex = Math.Min(Model.PageIndex + 5, Model.PageCount);
}

@if (Model.PageCount > 1)
{
    <ul>
        @*Nếu không phải trang đầu tiên thì sẽ hiện 2 nút đầu và cuối*@
        @if (Model.PageIndex != startIndex)
        {
            @*<li>
                <a title="1" href="@urlTemplate.Replace("{0}", "1")">Đầu</a>
            </li>*@
            <li >
                <a href="@urlTemplate.Replace("{0}", (Model.PageIndex-1).ToString())"><i class="fa fa-angle-left"></i></a>
            </li>
        }

        @*Show trang đang active*@
        @for (var i = startIndex; i <= finishIndex; i++)
        {
            if (i == Model.PageIndex)
            {
                <li>
                    <a class="active" href="#">@i <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li><a title="Trang @i.ToString()" href="@urlTemplate.Replace("{0}", i.ToString())">@i</a></li>
            }
        }
        @if (Model.PageIndex != finishIndex)
        {
            <li>
                <a title="@Model.PageCount.ToString()" href="@urlTemplate.Replace("{0}", (Model.PageIndex+1).ToString())"><i class="fa fa-angle-right"></i></a>
            </li>
            @*<li>
                <a  href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())">Cuối</a>
            </li>*@
        }
    </ul>
}