@model eShopSolution.ViewModels.Sales.CouponViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "Chi tiết khuyến mãi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Chi tiết khuyến mãi @Model.Code</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết khuyến mãi</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Coupon">Về danh sách</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">
                                ID
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Id)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Mã
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Code)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Số lượng
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Count)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Phần trăm giảm
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Promotion)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Mô tả khuyến mãi
                            </td>
                            <td>
                                @Html.Raw(Model.Describe)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>
