@using eShopSolution.ViewModels.Common;
@using eShopSolution.ViewModels.Utilities.Enums;
@model PagedResult<eShopSolution.ViewModels.Sales.OrderViewModel>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
    <script src="~/js/order.js"></script>
    <script>
        var orderController = new OrderController();
        orderController.initialize();
    </script>
}

<div class="container-fluid">
    <h1 class="mt-4">Danh sách đơn hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách đơn hàng</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                </div>
                <div class="col-md-5 col-xs-12">
                    <form asp-action="Index" asp-controller="Order" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                @*name: là tên tham số*@
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <button type="button" onclick="window.location.href='/Order/Index'" class="btn btn-secondary">Đặt lại</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">
                                ID
                            </th>
                            <th>
                                Khách hàng
                            </th>
                            <th class="text-center">
                                Ngày đặt
                            </th>
                            <th class="text-center">
                                Trạng thái
                            </th>
                            <th class="text-center">
                                Giá trị đơn hàng
                            </th>
                            <th class="text-center">
                                Xử lý đơn
                            </th>
                            <th class="text-center">
                                Thao tác
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.OrderDate)
                                </td>
                                <td class="text-center">
                                    @{
                                        var status = "";
                                        var statusEnum = (int)item.Status;
                                        switch (statusEnum)
                                        {
                                            case 1:
                                                status = "Đang chờ duyệt";
                                                break;
                                            case 2:
                                                status = "Đã duyệt";
                                                break;
                                            case 3:
                                                status = "Đang giao";
                                                break;
                                            case 4:
                                                status = "Đã giao";
                                                break;
                                            case 5:
                                                status = "Đã huỷ";
                                                break;
                                            default:
                                                status = "...";
                                                break;
                                        }
                                    }
                                    @status
                                </td>
                                <td class="text-center">
                                    @item.Price.ToString("N0")
                                    <span>&#8363;</span>
                                </td>
                                <td class="text-center">

                                    @if (item.Status == (OrderStatus)1)
                                    {
                                        <button class="btn btn-success btn-update-status" data-id="@item.Id">@Html.ActionLink("Duyệt đơn", "UpdateOrderStatus", new { orderId = item.Id })</button>
                                        <button class="btn btn-danger btn-cancel" data-id="@item.Id">Hủy đơn</button>
                                    }
                                    else if (item.Status == (OrderStatus)2)
                                    {
                                        <button class="btn btn-success btn-update-status" data-id="@item.Id">@Html.ActionLink("Giao hàng", "UpdateOrderStatus", new { orderId = item.Id })</button>
                                        <button class="btn btn-danger btn-cancel" data-id="@item.Id">Hủy đơn</button>
                                    }
                                    else if (item.Status == (OrderStatus)3)
                                    {
                                        <button class="btn btn btn-success btn-update-status" data-id="@item.Id">@Html.ActionLink("Xác nhận đã giao hàng", "UpdateOrderStatus", new { orderId = item.Id })</button>
                                    }
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary">@Html.ActionLink("Xem chi tiết", "Detail", new { orderId = item.Id, name = item.Name })</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*truyền Model vào hàm InvokeAsync của class PagerViewComponent để phân trang *@
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>

